- 在本地创建名为abc的数据库，并创建名为xyz的数据表，将multi_stock_data.csv文件写入该xyz数据表中，读取20200126-20200716这段时间内，股票代码头两位为“00”的数据，并以日期为横坐标，收盘价为纵坐标，绘制折线图，在图中标明横纵坐标，图例在画面左上角，为图片添加网格并设置50%的透明度，线型为点划线，标记为圆圈。

In [ ]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

# 打开数据库连接
db = pymysql.connect("localhost","root","123456")
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
# 输出所有数据库列表："show databases"
cursor.execute("show databases")
cursor.execute("create database if not exists abc")
db.close()

engine = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/abc')
dat = pd.read_csv('multi_stock_data.csv')
dat.to_sql(name='xyz', con=engine, if_exists='replace', index=False)

sql_cmd = "select * from xyz where ts_code like '00%' and trade_date >= 20200126 and trade_date <=20200716"
df = pd.read_sql(sql=sql_cmd, con=engine)
df

In [ ]:
codes=df['ts_code'].drop_duplicates().to_list()
df00=[]
for code in codes:
    df00.append(df[df['ts_code']==code].set_index('trade_date'))

stk=pd.concat(df00, axis=1, join='inner')['close'].iloc[::-1,:]
stk.columns=codes
stk.index=stk.index.astype(str)
stk

In [ ]:
import matplotlib.pyplot as plt

stk.plot(marker='o',linestyle='-.')
plt.legend(loc='upper left')
plt.xlabel('date');
plt.ylabel('close')
plt.grid(alpha=0.5)

- 结合前几次课的内容，从tushare API中取得10家市值最大的银行行业的上市公司从去年年初至今的股票的日行情数据，并将该数据存入本地名的数据库abc中的表tushare中，存入后在数据库的末尾添加一行均值（无法求均值的列以NaN取代）。从上述10支股票中随机挑选出四支绘制2x2 的子图，横轴为日期，纵轴为收盘价，其中上面两幅子图的横轴不显示；子图1、3为折线图，子2、4为柱状图；为该图添加名为"银行股"的中文标题；在图1、3中，以透明度为80%的蓝色填充大于1.5倍均值的部分。

In [ ]:
import tushare as ts
import random

tushare_token = '1c8b06446534ae510c8c68e38fc248b99f89ac3814cb55645ae2be72'  # 请在 tushare.pro 网站注册并且告知学生身份，可以取得你的token
pro = ts.pro_api(tushare_token)

data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
data

In [ ]:
bank=data[data['industry']=='银行']
bank.reset_index(drop=True)

In [ ]:
stocklist = pro.daily_basic(ts_code='', trade_date='20190104', fields='ts_code,trade_date,total_share,float_share')
stocklist

In [ ]:
banklist=pd.merge(bank, stocklist, how='inner', on='ts_code')
banklist

In [ ]:
banklist.sort_values(by='total_share',ascending=False).head(10)

In [ ]:
codes=banklist.sort_values(by='total_share',ascending=False).head(10).ts_code.to_list()
code=','.join(codes)
code

In [ ]:
df = pro.daily(ts_code=code, start_date='20190101', end_date='20201201')
ave=df.mean().fillna(np.nan)
ave[np.isinf(ave)] = np.nan
df1=df.append(ave,ignore_index=True)
df1

In [ ]:
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/abc')
df1.to_sql(name='tushare', con=engine, if_exists='replace', index=False)

In [ ]:
codes=df['ts_code'].drop_duplicates().to_list()
df00=[]
for code in codes:
    df00.append(df[df['ts_code']==code].set_index('trade_date'))

stk=pd.concat(df00, axis=1, join='inner')['close'].iloc[::-1,:]
stk.columns=codes
# stk.index=stk.index.astype(str)
stk

In [ ]:
df2=stk.iloc[:,random.sample(range(10),4)]
df2

In [ ]:
fig = plt.figure(figsize=(20,10))
plt.rcParams['font.family']=['STFangsong']    #配置中文字体为仿宋
fig.suptitle("银行股")

plt.subplot(2,2,1)
plt.plot(df2[df2.columns[0]])
plt.xticks([])
plt.xlabel('date')
plt.fill_between(df2.index, df2[df2.columns[0]].mean()*1.5, df2[df2.columns[0]], alpha=0.8, color='b')

plt.subplot(2,2,2)
df2[df2.columns[1]].plot(kind='bar')
plt.xticks([])
plt.xlabel('date')

plt.subplot(2,2,3)
plt.plot(df2[df2.columns[2]])
plt.xticks(df2.index[::100])
plt.xlabel('date')
plt.fill_between(df2.index, df2[df2.columns[2]].mean()*1.5, df2[df2.columns[2]], alpha=0.8, color='b')

plt.subplot(2,2,4)
df2[df2.columns[3]].plot(kind='bar')
plt.xticks(range(0,len(df2),100),df2.index[::100])
plt.xlabel('date')

plt.show()